.sponsored-prod-card-cont{
    background-color: var(--neutral-100);
    /* background-color: aquamarine; */
    /* width: max-content; */

    /* padding: 20px; */
    box-shadow: var(--box-shadow-light);
}
.sponsored-product-head{
    background-color: transparent;
    color: var(--text-primary);
    height: 50px;
    font-size: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 2px 10px;
    border-radius: 3px 3px 0 0;
}
.sponsored-prod-card-cont:hover{
    box-shadow: var(--box-shadow-dark)
}
.prod-cont img{
    height: 100%;
    width: 100%;
}
.prod-prices{
    display: flex;
    gap: 10px;
    align-items: center;
}
.prod-prices .discounted-price{
    font-size: 20px;
    font-weight: 900;
    color: var(--text-primary);
}
.prod-prices .original-price{
    font-size: 12px;
    font-weight: 300;
    color: var(--text-primary);
    /* display: flex; */
    
}
.prod-prices .saved{
    background-color: var(--background-span);
    color: var(--color-span);
    border-radius: 5px;
    font-size: 11px;
    padding: 4px;
}

@media (max-width:480px){
    .prod-cont{
        padding: 10px;
        font-size: 12px;
    }
    .prod-prices .discounted-price{
        font-size: 16px;
        display: flex;
        /* font-weight: 900; */
        color: var(--text-primary);
    }
    .prod-prices .original-price{
        font-size: 12px;
        font-weight: 300;
        color: var(--text-primary);
        display: flex;
        
    }
}