#nav-sect-wrapper{
    /* width: fit-content; */
    /* margin: 0 auto; */
    position: sticky;
    top: 0;
    left: 0; right: 0;
    z-index: 105;
}
#nav-section{
    background-color: var(--background-dark);
    max-width: auto;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    color: var(--neutral-100);
    text-align: center;
    /* margin: 0 auto; */
    
}
#nav-section a{
    font-size: 12px;
}
#nav-section a:hover{
    background-color: white;
    color: var(--background-dark);
}
.logo-cont{
    margin-right: 20px;
    cursor: pointer;
}
/* style @media query removed */
.basket-sm{
    display: none;
}
.inputBox{
    display: none;
}

.logo-cont img{
    height: 55%;
    width: 130px;
   
}
.logo-cont svg{
    display: none;
}
#nav-section a{
    height: 100%;
    width: 7rem;
    display: flex;
    align-items: center;
    padding: 1.2rem;
    color: var(--neutral-100);
    cursor: pointer;

}
#input-cont{
    width: 45%;
    /* width: 600px; */
    height: 35px;
    display: flex;
    justify-content: start;
    /* background-color: aqua; */
    align-items: center;
}
#input-cont input{
    height: 35px;
    width: 92%;
    outline: none;
    border: none;
    text-indent: 10px;
    border-radius: 3px 0px 0px 3px;
}
#input-cont input::placeholder{
    /* font-size: large; */
    font-size: 13px;
    font-weight: 500;
}

#input-cont .searchCont{
    height: 35px;
    width: 8%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}
#nav-section .help{
    color: var(--neutral-100);
    display: flex;
    gap: 5px;
}
#nav-section span{
    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--background-light);
}
#nav-section #cart-cont{
    background-color: var(--btn-primary);
    height: 70%;
    width: 7rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 12px;
    gap: 10px;
    position: relative;
    border-radius: 2px;
    margin-left: 10px;
    cursor: pointer;

}
#nav-sect-wrapper .nav-icons{
    display: none;
}
#nav-section #cart-cont:hover{
    background-color: var(--text-secondary);
}
#cart-cont .icon{
    margin-left: 10px;
}
#cart-cont span{
    background-color: var(--background-accent);
    color: var(--text-primary);
    height: 80%;
    width: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
}
/* style for second nav */
#span{
    background-color: var(--neutral-200);
    width: 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: var(--neutral-100);
    font-size: 18px;
    font-weight: 600;
}
#secondNav{
    display: flex;
    background-color: var(--background-tertiary);
    color: var(--neutral-100);
    height: 40px;
    font-size: clamp(9px, 1vw, 12px);
    /* width: 1900px; */
    /* position: relative; */
}
#secondNav > div{
    color: var(--neutral-100);
}
#secondNav > div:hover{
    background-color: var(--neutral-100);
    color: var(--text-primary);
}
#secondNav .all-cat{
    display: flex;
    gap: 10px;
}
.inner{
    /* width: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    /* position: relative; */
    cursor: pointer;
}

/* dropdown */
.drop-down-wrapper{
    position: relative;
    display: none;
}
.drop-down-wrapper.show{
    display: block;
}
.drop-down-wrapper::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.85);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    top: 0;
}
.drop-down-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color: #24e24a;
    z-index: 10002;
    right: 0;
    top: 0;
}
.drop-down{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
drop-down  span{
    text-decoration: none;
    border: solid .5px rgb(94, 92, 92);
    padding: 2px 10px;
    gap: 5px;

}
.drop-down #login{
    display: flex;
    justify-content: space-between;
    /* background-color: #ed017f; */
    align-items: center;
    width: 150%;
    height: 80px;
    box-shadow: 5px 2px 3px 1px #b1acaf;
    padding: 0 20px;
}
.drop-down h2, 
.drop-down span{
    color: black;
    text-decoration: none;
    /* width: max-content; */
    display: flex;
    gap: 3px;
    align-items: center;
}
#login span{
    height: 20px;
    border: solid .5px grey;
    padding: 5px;
    border-radius: 3px;
}
#form-container{
    display: flex;
    justify-content: center;
    /* background-color: #ed017f; */
    width: 100%;
}
#form-container form{
    margin-top: 30px;
    width: 90%;
    /* background-color: #7e2525; */
}
.input-wrapper input{
    border: solid .2px;
    width: 100%;
    border-radius: 4px;
    padding: 5px 0;
    text-indent: 10px;
}
input[type='button']{
    background-color: #33b27b;
    color: white;
    padding: 5px 10px;  
    border: none;
}
#hr{
    height: 20px;
    /* background-color: red; */
    padding: 4px 0;
    margin-top: 20px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
}
#hr .circle{
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: solid .5px grey;
    top: 1px;
    left: 50%;
    background-color: white;
}
#hr span{
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hr hr{
    background-color: #c2bfbf;
}
#btn-link{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}
#btn-link input{
    background-color: transparent;
    border: solid .1px #4d8cfa;
    padding: 5px 10px;
    color: #4d8cfa;
    font-size: 14px;
}


.dropDown-wrapper{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: none;
}
.dropDown{
    display: grid;
    grid-template-columns: 20% auto;
    height: 70vh;
}
.dropDown::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    height: 30%;
    /* width: 100vw; */
    top: 100%;
    left: 0; right: 0;
}
.dropDown .items{
    overflow-y: scroll;
}
.items{
    scrollbar-width: thin;
    background-color: #fff;
    scrollbar-color: rgb(203, 202, 202) transparent;
    /* scrollbar-arrow-color: transparent; */
}
.items p{
    padding: 10px;
    margin: 0;
}
.inner img{
    height: 20px;
}
.left{ background-color: rgb(237, 237, 240)!important;
   
    padding-top: 10px;
}

.left p{
    color: #000000;
    /* background-color: white; */
}
.left .selected{
    background-color: #fff;

    color: #b1015f;
}

.items::-webkit-scrollbar{
    background-color: #242424;
    width: 4px;
}
.right{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* overflow-y: scroll; */
    background-color: #ffffff !important;
}
.right .first{
    background-color: rgb(255, 255, 255) !important;
    color: #000000 !important;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    /* grid-template-rows: 200px; */
    padding: 30px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    /* padding-right: 100px; */
}
.cont .first h4{
    font-size: 16px;
    font-weight: 700;
}
.right .second{
    /* background-color: white; */
    /* background-color: #4c1633; */
    padding: 30px 30px 0 0;
}
.right h4{
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    /* background-color: #24e24a; */
}
.para{
    padding-left: 0 !important;
    /* background-color: #4d8cfa; */
}
.para:hover{
    color: #da0f7b;
    /* padding-left: 5px !important; */
}
.right .second img{
    height: 350px;
    width: 100%;
    /* display: block !important;
    visibility: visible !important;
    opacity: 1 !important; */
}
.left .dropDown .left p{
    /* background-color: red; */
}
/* style for all category with hamburger menu ends here */


/* style for dropdown on second navbar starts here */
/* dropDown for second Nav */

.inner:hover .dropDown-wrapper{
    display: block;
}
#secondNav:has(.drp:hover) .navDrop-wrapper{
    display: block;
}
.navDrop-wrapper{
    position: absolute;
    background-color: #fff;
    top: 100%; right: 0; left: 0;
    /* height: max-content; */
    display: none;
}
.navDrop{
    position: relative;
    height: 70vh;
    width: 100%;
    /* background-color: #b1015f; */
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    /* text-align: center; */
}
.navDrop-wrapper.visible{
    display: block;
}
.navDrop-wrapper::before{
    content: '';
    height: 30%; 
    background-color: rgba(0, 0, 0, 0.85);
    left: 0; right: 0; top: 100%;
    position: absolute;
}
.navDrop .cont{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* background-color: #18764d; */
    padding: 30px;
    color: black;
}
.navDrop .cont .first{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    /* overflow-y: scroll; */
}
.cont .first div h4{
    margin: 0 !important;
    color: black !important;
    font-size: 16px;
}
.cont .first div p{
    padding-left: 0px !important;
}
.navDrop .cont .second{
    /* background-color: #94004f; */
}
.cont .second img{
    height: 350px;
    /* height: 300%; */
    width: 100%;
}




@media (max-width: 799px) {
    #nav-sect-wrapper{
        /* width: fit-content; */
        /* margin: 0 auto; */
        position: sticky;
        top: 0;
        left: 0; right: 0;
        /* z-index: 105; */
    }
    #nav-section{
        background-color: var(--background-dark);
        max-width: auto;
        height: 55px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        position: relative;
        color: var(--neutral-100);
        text-align: center;
        justify-content: space-between;
        margin: 0 auto;
        
    }
    .logo-cont{
        /* width: 150px; */
        display: flex;
        align-items: center;
        gap: 20px;

    }
    .logo-cont img{
        /* height: 25%; */
        width: 80px;
       
    }
    .basket-sm{
        display: flex;
        gap: 20px;
    }
    #nav-section a{
        display: none;
    }
    #input-cont{
        display: none;
    }
   
    #nav-section .help{
       display: none;
    }
    #nav-section #cart-cont{
    display: none;
    
    }
    #nav-section #cart-cont:hover{
        background-color: var(--text-secondary);
    }
    #cart-cont .icon{
        margin-left: 10px;
    }
    #secondNav{
        /* display: block; */
        align-items: center;
        justify-content: center;
    }
    #secondNav .inner{
        display: none;
    }
    #secondNav .inputBox{
        width: 80%;
        height: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* text-align: center; */
        background-color: #ffff;
        padding: 0 5px;
        border-radius: 4px;
    }
    #secondNav .inputBox input{
        width: 95%;
        background-color: #ffff;
        border: none;
        outline: none;
    }
    #nav-sect-wrapper .nav-icons{
        background-color: rgb(243, 242, 242);
        /* width: 200px */
        /* height: 50px; */
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
        /* padding: 5px; */
        /* background-color: aqua; */
    }
    #nav-sect-wrapper .nav-icons a{
        text-align: center;
        color: gray;
    }
    #nav-sect-wrapper .nav-icons a span{
        /* color: rgb(199, 198, 198); */
        display: block;
        font-size: 12px;
    }
    .logo-cont svg{
        display: inline-block;
    }
}
@media(min-width:799px) and (max-width:1110px){
    #nav-section a{
        font-size: clamp(9px, 1vw, 10px);
        /* color: yellow; */
    }
    .logo-cont img{
        height: 55%;
        width: 100px;
       
    }
    #input-cont{
        width: 35%;
        /* width: 600px; */
        height: 35px;
        display: flex;
        justify-content: start;
        /* background-color: aqua; */
        align-items: center;
    }
    #input-cont input{
        height: 30px;
        width: 92%;
        outline: none;
        border: none;
        text-indent: 10px;
        border-radius: 3px 0px 0px 3px;
    }
    #input-cont input::placeholder{
        /* font-size: large; */
        font-size: clamp(8px, 2vw,10px);
        font-weight: 500;
    }
    
    #input-cont .searchCont{
        height: 30px;
        width: 8%;
        background-color: var(--secondary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0px 3px 3px 0px;
        cursor: pointer;
    }
    #nav-section .help{
        color: var(--neutral-100);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    #nav-section span{
        display: flex;
        align-items: center;
        height: 20px;
        width: 20px;
        padding: 15px;
        border-radius: 50%;
        background-color: var(--background-light);
    }
    #nav-section #cart-cont{
        background-color: var(--btn-primary);
        height: 60%;
        width: 6rem;
        font-size: 10px;
        gap: 10px;
       
    }
    #nav-sect-wrapper .nav-icons{
        display: none;
    }
    #nav-section #cart-cont:hover{
        background-color: var(--text-secondary);
    }
    #cart-cont .icon{
        margin-left: 10px;
    }
    #cart-cont span{
        background-color: var(--background-accent);
        color: var(--text-primary);
        height: 70%;
        width: 15px;
        border-radius: 3px;
        right: 10px;
    }
    
    #secondNav .all-cat{
        display: flex;
        gap: 8px;
    }
    .inner{
        /* width: 200px; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        /* position: relative; */
        cursor: pointer;
        /* overflow-x: scroll; */
    }
    
    .footer-nav{
        display: none;
    }
}
