#nav-sect-wrapper{
    /* width: fit-content; */
    /* margin: 0 auto; */
    position: sticky;
    top: 0;
    left: 0; right: 0;
    z-index: 105;
}
#nav-section{
    background-color: var(--background-dark);
    max-width: auto;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    color: var(--neutral-100);
    text-align: center;
    /* margin: 0 auto; */
    
}
#nav-section a{
    font-size: 12px;
}
.logo-cont{
    margin-right: 20px;
    cursor: pointer;
}
/* style @media query removed */
.basket-sm{
    display: none;
}
.inputBox{
    display: none;
}

.logo-cont img{
    height: 55%;
    width: 130px;
   
}
.logo-cont svg{
    display: none;
}
#nav-section a{
    height: 100%;
    width: 7rem;
    display: flex;
    align-items: center;
    padding: 1.2rem;
    color: var(--neutral-100);
    cursor: pointer;

}
#input-cont{
    width: 45%;
    /* width: 600px; */
    height: 35px;
    display: flex;
    justify-content: start;
    /* background-color: aqua; */
    align-items: center;
}
#input-cont input{
    height: 35px;
    width: 92%;
    outline: none;
    border: none;
    text-indent: 10px;
    border-radius: 3px 0px 0px 3px;
}
#input-cont input::placeholder{
    /* font-size: large; */
    font-size: 13px;
    font-weight: 500;
}

#input-cont .searchCont{
    height: 35px;
    width: 8%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}
#nav-section .help{
    color: var(--neutral-100);
    display: flex;
    gap: 5px;
}
#nav-section span{
    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--background-light);
}
#nav-section #cart-cont{
    background-color: var(--btn-primary);
    height: 70%;
    width: 7rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 12px;
    gap: 10px;
    position: relative;
    border-radius: 2px;
    margin-left: 10px;
    cursor: pointer;

}
#nav-sect-wrapper .nav-icons{
    display: none;
}
#nav-section #cart-cont:hover{
    background-color: var(--text-secondary);
}
#cart-cont .icon{
    margin-left: 10px;
}
#cart-cont span{
    background-color: var(--background-accent);
    color: var(--text-primary);
    height: 80%;
    width: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
}
/* style for second nav */
#span{
    background-color: var(--neutral-200);
    width: 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: var(--neutral-100);
    font-size: 18px;
    font-weight: 600;
}
#secondNav{
    display: flex;
    background-color: var(--background-tertiary);
    color: var(--neutral-100);
    height: 40px;
    font-size: clamp(9px, 1vw, 12px);
    /* width: 1900px; */
    /* position: relative; */
}
#secondNav div{
    color: var(--neutral-100);
}
#secondNav div:hover{
    background-color: var(--neutral-100);
    color: var(--text-primary);
}
#secondNav .all-cat{
    display: flex;
    gap: 10px;
}
.inner{
    /* width: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    /* position: relative; */
    cursor: pointer;
}


@media (max-width: 799px) {
    #nav-sect-wrapper{
        /* width: fit-content; */
        /* margin: 0 auto; */
        position: sticky;
        top: 0;
        left: 0; right: 0;
        /* z-index: 105; */
    }
    #nav-section{
        background-color: var(--background-dark);
        max-width: auto;
        height: 55px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        position: relative;
        color: var(--neutral-100);
        text-align: center;
        justify-content: space-between;
        margin: 0 auto;
        
    }
    .logo-cont{
        /* width: 150px; */
        display: flex;
        align-items: center;
        gap: 20px;

    }
    .logo-cont img{
        /* height: 25%; */
        width: 80px;
       
    }
    .basket-sm{
        display: flex;
        gap: 20px;
    }
    #nav-section a{
        display: none;
    }
    #input-cont{
        display: none;
    }
   
    #nav-section .help{
       display: none;
    }
    #nav-section #cart-cont{
    display: none;
    
    }
    #nav-section #cart-cont:hover{
        background-color: var(--text-secondary);
    }
    #cart-cont .icon{
        margin-left: 10px;
    }
    #secondNav{
        /* display: block; */
        align-items: center;
        justify-content: center;
    }
    #secondNav .inner{
        display: none;
    }
    #secondNav .inputBox{
        width: 80%;
        height: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* text-align: center; */
        background-color: #ffff;
        padding: 0 5px;
        border-radius: 4px;
    }
    #secondNav .inputBox input{
        width: 95%;
        background-color: #ffff;
        border: none;
        outline: none;
    }
    #nav-sect-wrapper .nav-icons{
        background-color: rgb(243, 242, 242);
        /* width: 200px */
        /* height: 50px; */
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
        /* padding: 5px; */
        /* background-color: aqua; */
    }
    #nav-sect-wrapper .nav-icons a{
        text-align: center;
        color: gray;
    }
    #nav-sect-wrapper .nav-icons a span{
        /* color: rgb(199, 198, 198); */
        display: block;
        font-size: 12px;
    }
    .logo-cont svg{
        display: inline-block;
    }
}
@media(min-width:799px) and (max-width:1110px){
    #nav-section a{
        font-size: clamp(9px, 1vw, 10px);
        /* color: yellow; */
    }
    .logo-cont img{
        height: 55%;
        width: 100px;
       
    }
    #input-cont{
        width: 35%;
        /* width: 600px; */
        height: 35px;
        display: flex;
        justify-content: start;
        /* background-color: aqua; */
        align-items: center;
    }
    #input-cont input{
        height: 30px;
        width: 92%;
        outline: none;
        border: none;
        text-indent: 10px;
        border-radius: 3px 0px 0px 3px;
    }
    #input-cont input::placeholder{
        /* font-size: large; */
        font-size: clamp(8px, 2vw,10px);
        font-weight: 500;
    }
    
    #input-cont .searchCont{
        height: 30px;
        width: 8%;
        background-color: var(--secondary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0px 3px 3px 0px;
        cursor: pointer;
    }
    #nav-section .help{
        color: var(--neutral-100);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    #nav-section span{
        display: flex;
        align-items: center;
        height: 20px;
        width: 20px;
        padding: 15px;
        border-radius: 50%;
        background-color: var(--background-light);
    }
    #nav-section #cart-cont{
        background-color: var(--btn-primary);
        height: 60%;
        width: 6rem;
        font-size: 10px;
        gap: 10px;
       
    }
    #nav-sect-wrapper .nav-icons{
        display: none;
    }
    #nav-section #cart-cont:hover{
        background-color: var(--text-secondary);
    }
    #cart-cont .icon{
        margin-left: 10px;
    }
    #cart-cont span{
        background-color: var(--background-accent);
        color: var(--text-primary);
        height: 70%;
        width: 15px;
        border-radius: 3px;
        right: 10px;
    }
    
    #secondNav .all-cat{
        display: flex;
        gap: 8px;
    }
    .inner{
        /* width: 200px; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        /* position: relative; */
        cursor: pointer;
        overflow-x: scroll;
    }
    
    .footer-nav{
        display: none;
    }
}
