#nav-sect-wrapper{
    /* width: fit-content; */
    /* margin: 0 auto; */
    position: sticky;
    top: 0;
    left: 0; right: 0;
    z-index: 11;
}
#nav-section{
    background-color: var(--background-dark);
    max-width: auto;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
    color: var(--neutral-100);
    text-align: center;
    /* margin: 0 auto; */
    
}
.logo-cont{
    margin-right: 20px;
}
.logo-cont img{
    height: 55%;
    width: 130px;
   
}
#nav-section a{
    height: 100%;
    width: 7rem;
    display: flex;
    align-items: center;
    padding: 1.2rem;
    color: var(--neutral-100);
    cursor: pointer;

}
#input-cont{
    width: 45%;
    /* width: 600px; */
    height: 35px;
    display: flex;
    justify-content: start;
    /* background-color: aqua; */
    align-items: center;
}
#input-cont input{
    height: 35px;
    width: 92%;
    outline: none;
    border: none;
    text-indent: 10px;
    border-radius: 3px 0px 0px 3px;
}
#input-cont input::placeholder{
    /* font-size: large; */
    font-size: 13px;
    font-weight: 500;
}

#input-cont .searchCont{
    height: 35px;
    width: 8%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}
#nav-section .help{
    color: var(--neutral-100);
    display: flex;
    gap: 5px;
}
#nav-section span{
    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--background-light);
}
#nav-section #cart-cont{
    background-color: var(--btn-primary);
    height: 70%;
    width: 7rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 12px;
    gap: 10px;
    position: relative;
    border-radius: 2px;
    margin-left: 10px;
    cursor: pointer;

}
#nav-section #cart-cont:hover{
    background-color: var(--text-secondary);
}
#cart-cont .icon{
    margin-left: 10px;
}
#cart-cont span{
    background-color: var(--background-accent);
    color: var(--text-primary);
    height: 80%;
    width: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
}
/* style for second nav */
#span{
    background-color: var(--neutral-200);
    width: 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: var(--neutral-100);
    font-size: 18px;
    font-weight: 600;
}
#secondNav{
    display: flex;
    background-color: var(--background-tertiary);
    color: var(--neutral-100);
    height: 40px;
    font-size: 14px;
    /* width: 1900px; */
    /* position: relative; */
}
#secondNav div{
    color: var(--neutral-100);
}
#secondNav div:hover{
    background-color: var(--neutral-100);
    color: var(--text-primary);
}
#secondNav .all-cat{
    display: flex;
    gap: 10px;
}
.inner{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    /* position: relative; */
    cursor: pointer;
}


@media (max-width:1050px) {
    .logo-cont .logo{
        width: 140px;
    }
}