.current-prod-active{
    background-color:var(--neutral-100);
    padding: 20px;
}
.all-products-cont{
    /* padding: 20px; */
}
#innerPhone{
    /* background-color: aqua; */
    /* margin-left: 30px; */
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
#innerPhone .active-cat{
    color: var(--text-tertiary);
}
#innerPhone span{
    color: var(--text-secondary);
    font-size: 10px;
}
.current-category{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
li{
    list-style-type: none;
    font-size: 14px;
    border: solid .5px rgb(222, 219, 219);
    padding: 5px;
    cursor: pointer;
}
ul{
    display: flex;
    /* gap: 5px; */
}
#contContainer{
    /* background-color: cadetblue; */
    display: flex;
    /* justify-content: end; */
}
#cont .active-sort{
    border: solid #ed017f .5px;
    color: #ed017f;
}
#cont{

    /* background-color: blueviolet; */
    height: 50%;
    /* width: 80%; */
    display: flex;
    justify-self: end;
    /* justify-content: center; */
    align-items: center;
}
#cont ul li{
    font-size: 11px;
}
#cont p{
    font-size: 12px;
    margin-right: 10px;
}

#remove{
    border-left: none;
    border-right: none;
}
.browseCategory{
    /* height: 100vh; */
    display: grid;
    grid-template-columns: 1fr 4fr;
    
}
#browseCont{
    /* background-color: red; */
    height: 100%;
    /* width: 20%; */
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.browseFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#tablets li{
    border: unset;
    font-size: 12px;
}
#tablets{
    display: unset;
}
#white{
    background-color: var(--neutral-100);
    width: 90%;
    margin-top: 15px;
    padding: 10px;
}
.inputP{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 12px;
    width: 200px;
    gap: 5px;
    margin: 0;
    padding: 0;
}
.inputP p{
    margin: 5px;
}
.inputP input{
    height: 13px;
    width: 13px;
}
#main{
    display: grid;
    grid-template-rows: 250px 4fr;
    row-gap: 20px;
}
#top{
    background-color: hotpink;
    /* height: 200px; */
    margin-top: 30px;
    /* position: absolute; */
}
#top img{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
/*  */
#nav-section{
    position: sticky;
    /* position: relative; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.drop-down-wrapper{
    position: relative;
    display: none;
    /* background-color: white; */
    /* position: fixed; */
    /* width: 40%; */
    /* right: 0; */
    /* top: 0; */
    /* bottom: 0; */
    /* z-index: 1001; */
    /* display: flex; */
    /* flex-direction: column; */
}
.drop-down-wrapper.show{
    display: block;
}
.drop-down-wrapper::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.85);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    top: 0;
}
.drop-down-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50vw;
    height: 100vh;
    background-color: #fff;
    z-index: 10002;
    right: 0;
    top: 0;
}
.drop-down{
    display: flex;
    justify-content: center;
    align-items: center;
}
drop-down  a{
    text-decoration: none;
    border: solid .5px rgb(94, 92, 92);
    padding: 2px 10px;
    /* color: black; */
    gap: 5px;

}
.drop-down #login{
    display: flex;
    justify-content: space-between;
    /* background-color: #ed017f; */
    align-items: center;
    width: 100%;
    height: 80px;
    box-shadow: 5px 5px 3px 1px #b1acaf;
    padding: 0 20px;
}
.drop-down h2, 
.drop-down a{
    color: black;
    text-decoration: none;
    /* width: max-content; */
    display: flex;
    align-items: center;
}
#login a{
    height: 20px;
    border: solid .5px grey;
    padding: 0 5px;
}
.drop-down a span{
    color: black;
}
#form-container{
    display: flex;
    justify-content: center;
    /* background-color: #ed017f; */
    width: 100%;
}
#form-container form{
    margin-top: 30px;
    width: 90%;
    /* background-color: #7e2525; */
}
.input-wrapper input{
    border: solid .2px;
    width: 100%;
}
input[type='button']{
    background-color: #33b27b;
    color: white;
    padding: 5px 10px;  
    border: none;
}
hr{
    background-color: #c2bfbf;
    height: .5px;
}
#hr{
    height: 20px;
    /* background-color: red; */
    padding: 4px 0;
    margin-top: 20px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
}
#hr .circle{
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: solid .5px grey;
    top: 1px;
    left: 50%;
    background-color: white;
}
#hr span{
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hr hr{
    background-color: #c2bfbf;
}
#btn-link{
    display: flex;
    margin-top: 30px;
}
#btn-link input{
    background-color: transparent;
    border: solid .2px blue;
    padding: 5px 10px;
    color: blue;
}
.price-filter{
    width: 100%;
    margin: 10px 0;
}
.price-filter h4{
    margin: 10px 0;
}
.price-filter form{
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
    width: 200px;
    /* background-color: #33b27b; */
}
.price-filter form div{
    padding: 5px 10px;
    width: 80px;
    display: flex;
    border: solid 1px rgb(223, 218, 218);
    font-size: 13px;
}
.price-filter form div input{
    width: 90%;
    height: 100%;
}
.price-filter form button{
    border: solid 1px #ed017f;
    padding: 5px 10px;
    color: #ed017f;
    background-color: #fff;
}
.searchBrand-cont{
    margin-top: 20px;
    display: flex;
    border: #b1acaf solid 1px;
    padding: 5px;
    justify-content: space-between;
}
.searchBrand-cont input{
    width: 90%;
    height: 100%;
}
.sort-checkbox{
    margin: 20px 0;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}